<!DOCTYPE html>

{% extends 'world_recipe/base.html' %}

{% load static %}

{% block title %}
    About
{% endblock %}

{% block body %}
<div class = "container mt-5">
    <h1 class = "display-4 text-center mb-4">About World Recipe</h1>
    <p class = "lead text-center mb-4">Welcome to the World Recipe app! Here you can explore and share amazing recipes from around the world.</p>
    <div class = "alert text-center">
        Here is the about page.<br />
        <strong>{{ message }}</strong>
        
    </div>
</div>
{% endblock %}