<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            World Recipes -
            {% block title %}
            {% endblock %}
        </title>
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>

    <body>
        <div class = "d-flex flex-column min-vh-100">

        <!-- Navbar -->
        <nav class = "navbar navbar expand-lg navbar-light background-green px-3">
            <div class = "container-fluid">
            <a href="{% url 'world_recipe:index' %}" class = "navbar-brand d-flex align-items-center">
                <img src="{% static 'images/default.png' %}" alt="World Recipe Logo" height="40" class="me-2">
                <span class="fw-bold fs-3">Curious Cuisine</span>
            </a>

            <form class="d-flex ms-3">
                <input type="search" 
                       id="recipe-search" 
                       placeholder="Search recipes..." 
                       autocomplete="off"
                       class = "form-control me-2"> 
                <div id="search-results" class="search-results"></div>
            </form>

            <div class = "ms-auto">
                {% if user.is_authenticated %}
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{{ MEDIA_URL }}{{ user.userprofile.profile_picture.url }}" alt="Profile" width="30" height="30" class="rounded-circle me-1">
                            {{ user.username }}
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby = "profileDropdown">
                            <li><a href="{% url 'world_recipe:profile' user.username %}" class = "dropdown-item">My Profile</a></li>
                            <li><a href="{% url 'world_recipe:logout' %}" class = "dropdown-item">Logout</a></li>
                        </ul>
                    </div>
                {% else %}
                    <a href="{% url 'world_recipe:login' %}" class="btn btn-outline-dark me-2">Login</a>
                    <a href="{% url 'world_recipe:register' %}" class = "btn btn-dark">Register</a>
                {% endif %}
            </div>
            </div>
        </nav>

        <!-- Main Content -->
        <div class = "container mt-4">
            {% block body %}
            {% endblock %}
        </div>

        <hr />

        <!-- Footer -->

        <footer class = "text-center py-3 background-green mt-auto">
            <div class = "d-flex justify-content-center gap-3">
                <a href="{% url 'world_recipe:index' %}" class = "list-inline-item" class = "btn btn-outline-dark">Home</a>
                <a href="{% url 'world_recipe:about' %}" class = "list-inline-item" class = "btn btn-outline-dark">About</a>
            </div>
            
            <div>
                <p class="mt-2">&copy; 2025 World Recipes created by Group 6C. All rights reserved.</p>
            </div>
        </footer>

        <!-- JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'js/dropdown.js' %}"></script>
        <script src="{% static 'js/searchBar.js' %}"></script>
        </div>
    </body>
</html>