{% extends "world_recipe/base.html" %}
{% load static %}

{% block title %}
    Recipes from {{ country_name }}
{% endblock %}

{% block body %}
    <h1>Welcome to {{ country_name }}</h1>
    <p>Here are the recipes from {{ country_name }}. You can browse by meal type below:</p>

    <!-- dropdown to select meal type -->
    <form method="get" id="meal-type-form">
        <label for="meal-type">Filter by Meal Type:</label>
        <select name="meal_type" id="meal-type">
            <option value="all" {% if request.GET.meal_type == 'all' %}selected{% endif %}>All</option>
            <option value="BF" {% if request.GET.meal_type == 'BF' %}selected{% endif %}>Breakfast</option>
            <option value="LU" {% if request.GET.meal_type == 'LU' %}selected{% endif %}>Lunch</option>
            <option value="DN" {% if request.GET.meal_type == 'DN' %}selected{% endif %}>Dinner</option>
            <option value="SN" {% if request.GET.meal_type == 'SN' %}selected{% endif %}>Snack</option>
            <option value="DS" {% if request.GET.meal_type == 'DS' %}selected{% endif %}>Dessert</option>
        </select>
    </form>

    <!-- Country Filters -->
    <form method="get" id="sort-by-form">
        <label for="sort-by">Sort by:</label>
        <select name="sort_by" id="sort-by">
            <option value="none" {% if request.GET.sort_by == 'none' %}selected{% endif %}>None</option>
            <option value="most_rated" {% if request.GET.sort_by == 'most_rated' %}selected{% endif %}>Most Rated</option>
            <option value="recently_published" {% if request.GET.sort_by == 'recently_published' %}selected{% endif %}>Most Recently Published</option>
        </select>
    </form>

    <!-- Recipe List -->
    <h2>Recipes:</h2>
    <div id="recipe-list">
        {% include "world_recipe/includes/recipe_list.html" with recipes=recipes %}
    </div>

    <!-- including jQuery and external js file -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        window.COUNTRY_NAME = "{{ country_name }}";
        window.COUNTRY_URL = "{% url 'world_recipe:country' country=country_name %}";
    </script>
    <script src="{% static 'js/countryFilters.js' %}"></script>

{% endblock %}
