{% extends "world_recipe/base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Travel the world from your kitchen!</h1>
    <p class="welcome-text">Cooking up a cultural cuisine at your home is easier than you think</p>
    <p class="welcome-text">Where will you travel today?</p>

    <!-- maps -->
    <div id="recipe-map"></div>
    
    <h2>Most Recent Recipes</h2>
    {% include "world_recipe/includes/recipe_list.html" with recipes=most_recent_recipes %}
    
    <h2>Most Rated Recipes</h2>
    {% include "world_recipe/includes/recipe_list.html" with recipes=most_rated_recipes %}

    <!-- load google maps API -->
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=initMap" async defer></script>
    <script>
        // recipe data for map
        window.recipeData = [
            {% for recipe in all_recipes %}
                {
                    title: "{{ recipe.title|escapejs }}",
                    country: "{{ recipe.get_country_name|escapejs }}",
                    url: "{% url 'world_recipe:recipe' country=recipe.get_country_name|slugify meal_type=recipe.get_meal_type|slugify recipe_name=recipe.slug %}",
                    slug: "{{ recipe.slug|escapejs }}"
                },
            {% endfor %}
        ];
    </script>
    <script src="{% static 'js/map.js' %}"></script>
{% endblock %}
    