{% extends 'world_recipe/base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block body %}
<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class = "card p-4 shadow-lg login-sizing">
        <h2>Login to World Recipe</h2>
        <form method="post" action="{% url 'world_recipe:login' %}">
            {% csrf_token %}
            {% for field in user_form %}
                <div class="mb-3">
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <div class="alert alert-danger mt-2 p-2">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-dark w-100">Login</button>
        </form>
    </div>
</div>
{% endblock %}
